<div class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a routerLink="/" class="h1"><b>E-</b>Muhasebe</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Giriş yapmak için bilgilerinizi doldurunuz</p>
    
          <form #loginForm="ngForm" (ngSubmit)="Login(loginForm)">
            <div class="input-group mb-3">
              <input type="text" 
              #emailOrUserName 
              name ="emailOrUserName" 
              required 
              minlength="3" 
              class="form-control"
              placeholder="E-mail" 
              ngModel
              [validInput]="emailOrUserName.validity?.valid"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <div class="invalid-feedback">
                Kullanıcı adı veya e-mail bilgisi hatalı!
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" 
              #password name="password" 
              required 
              minlength="3"
              class="form-control" 
              placeholder="Password" 
              ngModel
              [validInput]="password.validity?.valid"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa fa-lock"></span>
                </div>
              </div>
              <div class="invalid-feedback">
                lütfen geçerli bir şifre giriniz!
              </div>
            </div>
            <loading-button 
            [form]="loginForm"
            btnName="Giriş yap"
            btnLoadingDescription="Giriş yapılıyor..."
            iconClass="fa fa-lock">
          </loading-button>
          </form>
    
          <div class="social-auth-links text-center mt-2 mb-3">
            <!-- <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a> -->
          </div>
          <!-- /.social-auth-links -->
    
          <p class="mb-1">
            <a>Şifremi unuttum</a>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
  </div>