<app-blank-common title="Hesap Planı" [navs]="navs">
    <app-section sectionTitle="Hesap Planı Listesi">
        <table  class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Tip</th>
                    <th>Açıklama</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                
                    @for (ucaf of ucafs; track $index) 
                {
                    <tr>
                        <td [innerText]="ucaf.code"></td>
                        <td [innerText]="ucaf.type"></td>
                        <td [innerText]="ucaf.name"></td>
                        <td>
                            <button class="btn btn-outline-warning btn-md" title="Güncelle">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-outline-danger btn-md mx-1" title="Sil">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </app-section>
</app-blank-common>
