.search
{
    background-color: white;
    background-image: url("/images/searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 12px 40px;
    width: 30%;
    float: right;
    transition: 1s;
}

.search:focus
{
    width: 80%;
    transition: 1s;
}